import createService from '../../../public/js/createService';

 const services = {
    <% for property in model -%>
     <$ property.functionname $>(<%if property.req %>params: <$ property.req $> <% endif %>) {
      return createService<<%if property.req %><$ property.req $><% else %> undefined <% endif %>, <$ property.res $>>( '<$ property.url $>|<$ property.type $>'<%if property.req %>, params <% endif %>);
    },
    <% endfor %>
 }
 export default services;



